@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// font-family: "Open Sans", sans-serif;


// @font-face {
//     font-family: "compact";
//     src: url("../fonts/SFCompactDisplay-Regular.otf") format("opentype");
//     font-weight: 400;
// }