body,
html {
    height: 100%;
}

body * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1444px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.fit-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.sect-subtitle {
    margin: 0;
    text-align: center;

    color: #02B0EA;
    font-size: 21px;
    line-height: 130%;
}

h1 {
    color: #242424;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
}

h2 {
    margin-bottom: 55px;
    font-size: 44px;
    font-weight: 600;
    line-height: 130%;

    &.white {
        color: #fff;
    }
}

h4 {
    color: #242424;
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 35px;
}



.blue-btn {
    min-height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #02B0EA;
    border: 1px solid #02B0EA;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 28px;
    transition: 0.3s;

    &:hover {
        background: #fff;
        color: #02B0EA;
    }
}

@media(max-width:1599.8px) {
    .sect-subtitle {
        font-size: 18px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 40px;
    }
}

@media(max-width:1399.8px) {
    h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    h4 {
        font-size: 24px;
    }
}

@media(max-width:1199.8px) {
    h1 {
        font-size: 36px;
    }
}

@media(max-width:575.8px) {
    .sect-subtitle {
        font-size: 16px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
