body,
html {
    height: 100%;
}

body * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1444px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.fit-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

h1 {
    
}