.herosection {
    position: relative;
    min-height: 488px;
    padding: 107px 0 50px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.69);
    }

    .fit-image {
        object-position: center bottom;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h1 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 60px;
        font-weight: 600;
        line-height: 130%;
    }

    p {
        margin: 0;
        max-width: 580px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}

// -
.webcam-places {
    padding: 70px 0 10px;
    position: relative;

    .bg-el {
        right: 0;
        top: 40px;
        position: absolute;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.webcam-places__wrapper {
    padding: 0 60px;
}

.webcam-places__box {
    margin-bottom: 90px;

    .title {
        margin-bottom: 35px;
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        color: #242424;
    }

    ul {
        li {
            margin-bottom: 22px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.webcam-place__item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 53px;
    border: 1px solid #CFCFCF;
    transition: 0.3s;
    max-width: 340px;
    background: #fff;

    .imgwrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 99px;
    }

    .titlewrap {
        padding-left: 99px;

        p {
            margin: 0;
            padding-left: 20px;
            color: #242424;
            font-size: 17px;
            font-weight: 600;
            transition: 0.3s;
        }
    }

    &:hover {
        border-color: #8ECFFF;

        .titlewrap p {
            color: #02B0EA;
        }
    }
}

// -
.webcam-popular {
    position: relative;
    padding: 93px 0 70px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.8);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h2 {
        text-align: center;
    }

    .blue-btn {
        width: 360px;
        margin-top: 40px;
    }

    .sect-subtitle {
        color: #0098CB;
    }

}

.webcam-popular__item {
    display: block;
    height: 210px;
    position: relative;
    margin-bottom: 20px;
    position: relative;
}

.webcam-popular__label {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 17px;
    height: 35px;
    padding: 3px 28px;
    background: rgba(#000, 0.64);
}

