.a4 .a-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.a4 .a-item {
    // background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt70 {
    padding-top: 70px;
}

.pb80 {
    padding-bottom: 80px;
}

@media(max-width:1199.8px) {

    .pt70 {
        padding-top: 50px;
    }

    .pb80 {
        padding-bottom: 50px;
    }


}

@media (max-width: 1023.8px) {
    .a4 .a-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.8px) {
    .a4 .a-grid {
        grid-template-columns: 1fr;
    }

   
}
