.videomodal {

    .modal-dialog {
        max-width: 1356px;
        width: calc(100vw - 280px);
    }

    .modal-body {
        padding: 0;
        border-radius: 0;
    }

    .modal-content {
        border: none;
        background: transparent;
    }

    video {
        width: 100%;
    }

    .btn-close {
        color: #fff;

    }

    .close-modal {
        position: absolute;
        right: -30px;
        top: -30px;
        z-index: 2;
        border: none;
        padding: 0;
        outline: none;
        background: transparent;
        width: 24px;
        height: 24px;

        img {
            width: 100%;
        }

    }




}

.videosection__modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.close-section {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background: #242424;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    img {
        width: 16px;
    }
}


@media(max-width:1199.8px) {

    .videomodal .modal-dialog {
        width: calc(100vw - 140px);
    }

}

@media(max-width:991.8px) {
    .close-section {
        right: 10px;
        top: 10px;
    }
}

@media(max-width:767.8px) {

    .videomodal .modal-dialog {
        width: calc(100vw - 100px);
    }

}

@media(max-width:767.8px) {

    .videomodal .modal-dialog {
        width: calc(100vw - 15px);
    }

    .videomodal .close-modal {
        right: 0;
    }

}