.webcamscontent {
    .subtitle {
        color: #606060;
        font-size: 18px;
        text-align: center;
        margin-bottom: 50px;
    }
}

.webcamscontent__open {
    h1 {
        margin-bottom: 20px;
    }
}

.openwebcam-block {
    margin-top: 50px;
    margin-bottom: 60px;

    .bottinfo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
}

.timelapse {
    height: 46px;
    border: 1px solid #CFCFCF;
    width: 233px;
    color: #5B5B5B;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 18px;
        margin-right: 10px;
    }
}

.groupbtns {
    display: inline-flex;
    align-items: center;

    .share,
    .favorite {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border: 1px solid #CFCFCF;
        background: transparent;
        padding: 0;
        margin-right: 20px;
        transition: 0.3s;

        svg path {
            transition: 0.3s;
        }

        &:hover {
            border-color: #02B0EA;
        }

        &.active {
            border-color: #02B0EA;
            background: #02B0EA;

            svg path {
                stroke: #fff;
            }
        }
    }
}

.webopen__description {
    h4 {
        margin-bottom: 40px;
        color: #242424;
        font-size: 30px;
        font-weight: 600;
        line-height: 100%;
    }

    h6 {
        color: #242424;
        font-size: 600px;
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 120%;
    }

    p {
        font-size: 17px;
        color: #606060;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        b {
            font-weight: 600;
        }

        a {
            color: #02B0EA;
        }
    }

    ul {
        margin-bottom: 35px;

        li {
            font-size: 17px;
            color: #525252;
            margin-bottom: 10px;
            padding-left: 34px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #525252;
                position: absolute;
                left: 14px;
                top: 11px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .hidden-content {
        margin-bottom: 20px;
        display: none;

        &.show {
            display: block;
        }
    }
}